{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    {% set lastUser = '' %}

    <div class="container shadow mt-3 p-3 rounded">
        <h3>Users ✅</h3>
        <div class="w-50 m-auto mb-5 ">

            {% if user is not null %}
                <p> New user: {{ user.id }} : {{ user.roles[0] }}</p>
            {% endif %}
            {% if users is not empty %}
                {% for user in users %}
                    <ul>
                        <li>{{ user.id }} : {{ user.roles[0] }}</li>
                    </ul>

                {% endfor %}
                {% set lastUser = users | first %}
            {% endif %}
        </div>
        {% if lastUser is not empty %}
        <div class="w-50 d-flex justify-content-between m-auto">
            <a href="{{ path('app.create') }}"> CREATE NEW USER</a>
            <a href="{{ path('app.delete', {'id': lastUser.id }) }}"> DELETE LAST USER</a>
        </div>
        {% endif %}
    </div>
{% endblock %}
